<template name="admFilter">
  {{#autoForm doc=doc schema=Schemas.FormAdmFilter id="adm-filter-form" type="normal"}}
  <div class="col-md-12">
    <h2>{{title}}</h2>
    <br />
    {{#if isUserFilter}}
    <div class="form-group col-md-2">
      {{> afQuickField name="categories" options=categories_options}}
    </div>
    <div class="form-group col-md-2">
      {{> afQuickField name="subcategories" options=subcategories_options}}
    </div>
    {{else}}
    <div class="form-group col-md-2">
      {{> afQuickField name="screeningDate" options=month_options}}
    </div>
    <div class="form-group col-md-2">
      {{> afQuickField name="userId"}}
    </div>
    {{/if}}

    <div class="form-group col-md-2">
      {{> afQuickField name="filmId"}}
    </div>
    <div class="form-group col-md-2">
      {{> afQuickField name="state" options=states_options}}
    </div>
    <div class="form-group col-md-2">
      {{> afQuickField name="city" options=cities_options}}
    </div>

    {{#if isUserFilter}}
    {{else}}
    <div class="form-group col-md-2">
      {{> afQuickField name="status" options=status_options}}
    </div>
    <div class="form-group col-md-3">
      {{> afQuickField name="publicEvent"}}
    </div>
    <div class="form-group col-md-3">
      {{> afQuickField name="hasComments"}}
    </div>
    {{/if}}

    {{#if isUserFilter}}
    <div class="form-group col-md-3">
      {{> afQuickField name="noScreenings"}}
    </div>
    {{/if}}
    <div class="form-group col-md-3">
      {{> afQuickField name="teamMember"}}
    </div>
    <div class="form-group col-md-3">
      {{> afQuickField name="missingReports"}}
    </div>
  </div>
  <div class="col-md-12">
    <button type="submit" class="btn btn-primary btn-default" name="btn-submit" value="filter">FILTRAR</button>
    <button type="submit" class="btn btn-primary btn-default" name="btn-submit" value="export">EXPORTAR CSV</button>
    <button type="submit" class="btn btn-link btn-default btn-xs" name="btn-submit" value="save">SALVAR FILTRO</button>
    <button type="submit" class="btn btn-link btn-default btn-xs" name="btn-submit" value="reset">LIMPAR</button>
  </div>
  {{/autoForm}}

  <div class="col-md-12">
    <br>
    {{#if isUserFilter}}
    {{> reactiveTable class="table table-bordered table-hover" settings=settingsUser}}
    i{{else}}
    {{> reactiveTable class="table table-bordered table-hover" settings=settingsSession}}
    {{/if}}
  </div>
</template>

<template name="filmCellTmpl">
  <a target="_blank" href="/film/{{slug}}">{{title}}</a>
</template>

<template name="screeningCellTmpl">
  <a href="/adm/session/{{_id}}">{{place_name}}</a>
</template>

<template name="embaixadorCellTmpl">
  <a target="_blank" href="/adm/ambassador/{{_id}}">{{profile.name}}</a>
</template>

<template name="quorumCellTmpl">
  {{quorum_expectation}} / {{real_quorum}}
</template>

<template name="dateCellTmpl">
  <i title="{{date}}">{{format_date date}}</i>
</template>

<template name="createdAtCellTmpl">
  <i title="{{created_at}}">{{format_date_from_now created_at}}</i>
</template>

<template name="infoCellTmpl">
  <p>
    {{#if accept_terms}}
    <i title="Aceito termos" class="fas fa-user-check"></i>
    {{/if}}

    {{#if public_event}}
    <i title="Evento público" class="fas fa-globe-americas"></i>
    {{/if}}

    {{#if comments}}
    <i title="{{comments}}" class="fas fa-comments"></i>
    {{/if}}

    {{#if team_member}}
    <i title="Participação da equipe" class="fas fa-question-circle"></i>
    {{/if}}

    {{#if report_description}}
    <i title="{{report_description}}" class="fas fa-clipboard-list"></i>
    {{/if}}
  </p>
</template>

<template name="actionsCellTmpl">
    <a class="btn btn-default btn-xs" href="/adm/edit-screening/{{_id}}">Editar</a>

    {{#if report_description}}
    <a class="btn btn-default btn-xs" href="/adm/report/{{_id}}">Ver relatório</a>
    {{/if}}

    {{#if draft}}
    <button class="btn btn-default btn-xs btn-unset-draft" data-session-id="{{_id}}">Desmarcar rascunho</button>
    {{else}}
    <button class="btn btn-default btn-xs btn-set-draft" data-session-id="{{_id}}">Marcar rascunho</button>
    {{/if}}

    <a class="btn btn-default btn-xs" href="/adm/fluxo-by-screening/{{_id}}">Fluxo de e-mail</a>

</template>
