<template name="ambassadorFormFields">
  <div class="form-group col-md-12">
    <label class="control-label" for="name">Nome completo<span class="red">*</span></label>
    <input type="text" name="name" id="name" value="{{currentUser.profile.name}}" class="form-control" required>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group col-md-6">
    <label class="control-label" for="email">E-mail<span class="red">*</span></label>
    <input type="email" name="email" id="email" value="{{user_email}}" class="form-control email" required>
    <span class="help-block with-errors"></span>
  </div>
  <div class="form-group col-md-6">
    <label class="control-label" for="email-validation">Repita seu e-mail<span class="red">*</span></label>
    <input type="email" data-match=".email" name="email-validation" id="email-validation" value="{{user_email}}" class="form-control email-validation" data-match-error="Ops, verifique se digitou corretamente." required>
    <div class="help-block with-errors"></div>
  </div>
  {{#if showPassword}}
    {{> password}}
  {{/if}}
  <div class="form-group col-md-5">
    <label class="control-label" for="cell_phone">Telefone celular<span class="red">*</span></label>
    <input type="text" name="cell_phone" id="cell_phone" value="{{currentUser.profile.cell_phone}}" class="form-control" required>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group col-md-5">
    <label class="control-label" for="phone">Telefone fixo<span class="red">*</span></label>
    <input type="text" name="phone" id="phone" value="{{currentUser.profile.phone}}" class="form-control" required>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group col-md-5">
    <label class="control-label" for="country">País<span class="red">*</span></label>
    <input type="text" name="country" id="country" value="{{currentUser.profile.country}}" class="form-control" required>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group col-md-5">
    <label class="control-label" for="city">Cidade<span class="red">*</span></label>
    <input type="text" name="city" id="city" value="{{currentUser.profile.city}}" class="form-control" required>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group col-md-2">
    <label class="control-label" for="uf">UF<span class="red">*</span></label>
     <select name="uf" id="uf" class="form-control no-radius">
      {{#each ufs}}
        <option value="{{this}}" {{isSelected currentUser.profile.uf}}>{{this}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group col-md-10">
    <label class="control-label" for="institution">Você faz parte de alguma instituição, coletivo ou grupo?<span class="red">*</span></label>
    <input type="text" name="institution" id="institution" value="{{currentUser.profile.institution}}" class="form-control" required>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group col-md-10">
    <label class="control-label" for="category">Qual a sua área de atuação?</label>
    <select name="category" id="category" class="form-control no-radius">
      {{#each categories}}
        <option value="{{this}}" {{isSelected currentUser.profile.category}}>{{this}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group col-md-10">
    <label class="control-label" for="subcategory">Com quais temáticas vocês trabalham?</label>
    <select name="subcategory" id="subcategory" class="form-control">
      {{#each subcategories}}
        <option value="{{this}}" {{isSelected currentUser.profile.subcategory}}>{{this}}</option>
      {{/each}}
    </select>
  </div>
</template>
<template name="password">
  <div class="form-group col-md-5">
    <label class="control-label" for="password">Senha<span class="red">*</span></label>
    <input type="password" data-minlength="8" name="password" id="password" class="form-control password" data-error="Verifique se digitou 8 caracteres" required>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group col-md-5">
    <label class="control-label" for="password-validation">Repita a senha<span class="red">*</span></label>
    <input type="password" data-match=".password" data-minlength="8" name="password-validation" id="password-validation" class="form-control password-validation" data-match-error="Ops, verifique se digitou corretamente." data-error="Verifique se digitou 8 caracteres" required>
    <div class="help-block with-errors"></div>
  </div>
</template>
