<template name="ambassadorFormFields">
  {{#if isUpdate}}
  <div class="form-group col-md-12">
    {{> afQuickField name='emails.0.address' disabled='true' }}
    {{#if profile.avatar_path}}
    <div class="col-lg-4">
      <img src="https://images.stag.taturanamobi.com.br/fit?width=100&height=100&file={{profile.avatar_path}}" alt="Avatar" />
    </div>
    {{/if}}
    {{> afQuickField name='profile.avatar_path' }}
  </div>
  {{/if}}
  <div class="form-group col-md-12">
    {{> afQuickField name='profile.name' }}
  </div>
  {{#if isUpdate}}
  {{else}}
  <div class="form-group col-md-6">
      {{> afQuickField name='email' }}
    </div>
  <div class="form-group col-md-6">
      {{> afQuickField name='confirmEmail' }}
  </div>
  <div class="form-group col-md-6">
    {{> afQuickField name='password' }}
  </div>
  <div class="form-group col-md-6">
    {{> afQuickField name='confirmPassword' }}
  </div>
  {{/if}}
  <div class="form-group col-md-6">
      {{> afQuickField name='profile.cell_phone' }}
  </div>
  <div class="form-group col-md-6">
      {{> afQuickField name='profile.phone' }}
  </div>
  <div class="form-group col-md-4">
      {{> afQuickField name='profile.city' options=cities }}
  </div>
  <div class="form-group col-md-4">
      {{> afQuickField name='profile.uf' }}
  </div>
  <div class="form-group col-md-12">
      {{> afQuickField name='profile.institution' }}
  </div>
  <div class="form-group col-md-12">
      {{> afQuickField name='profile.category' }}
  </div>
  <div class="form-group col-md-12">
      {{> afQuickField name='profile.subcategory' }}
  </div>
</template>
