<template name="footer">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 logos">
          <p>
            <a href="/"><img src="/images/logo_footer1.svg" alt="Acessar o site www.taturanamobi.com.br."/></a>
          </p>
          <p>Tecnologia social e digital pela democratização do acesso ao cinema.</p>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 redes">
          <ul>
            <li><a href="https://www.facebook.com/TaturanaMobi/" alt="Siga-nos no Facebook."><i class="fab fa-facebook-square"></i>SIGA-NOS!</a></li>
            <li><a href="https://github.com/nucleo-digital/plataforma-taturana"><i class="fab fa-github-square"></i>A Plataforma Taturana é um projeto open-source</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>
