<template name="nav">
  <!-- <header id="header">
    <div class="header-bg-wrapper">
      <nav id="top-menu" role="navigation">
        <div class="container">
          <div class="col-lg-12">

          </div>
        </div>
      </nav>

      <a href="/"><div class="logo"></div></a>
    </div>
  </header> -->
  <div class="nav-colorful-detail"></div>
  <nav class="navbar navbar-default">

    <div class="container">
      <div class="row">
        <div class="col-lg-12">


        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="{{#if currentRouteIs 'films'}}active{{/if}}"><a href="/films">FILMES</a></li>
            <li class="{{#if currentRouteIs 'screenings'}}active{{/if}}"><a href="/screenings">AGENDA</a></li>
            <!-- <li class="dropdown"> -->
            <!--   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PORTFOLIO -->
            <!--     <span class="caret"></span></a> -->
            <!--   <ul class="dropdown-menu"> -->
            <!--     <li><a href="/Taturana-Mobi-Portfolio-PT.pdf">QUEM SOMOS E O QUE FAZEMOS</a></li> -->
            <!--     <li><a href="/Taturana-Mobi-Portfolio-EN.pdf">ABOUT</a></li> -->
            <!--   </ul> -->
            <!-- </li> -->
            <li class="{{#if currentRouteIs 'faq'}}active{{/if}}"><a href="/faq">FAQ</a></li>
            <li class="{{#if currentRouteIs 'contact'}}active{{/if}}"><a href="/contact">CONTATO</a></li>
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>
          <h1 class="navbar-brand"><a href="/"><img src="/images/taturana_logo.png" alt="Taturana Mobi"></a></h1>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="#">Link</a></li> {{currentUser.profile.avatar_path || '/images/avatar-default.png'}} -->
            {{#if currentUser}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{#if currentUser.profile.avatar_path}}
                <img width="40" height="40" src="{{imageServerUrl}}/smartcrop?width=40&height=40&type=jpeg&file={{fixImagePath currentUser.profile.avatar_path}}" alt="{{currentUser.profile.name}}" class="img-circle">
                {{else}}
                <img width="40" height="40" src="/images/avatar-default.png" alt="{{currentUser.profile.name}}" class="img-circle">
                {{/if}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">

                <li><a href="/ambassador">Minhas Sessões</a></li>
                <li><a href="/ambassador-edit">Meu Perfil</a></li>

                <li role="separator" class="divider"></li>

                {{#if isAdmin }}
                <li><a href="/adm/carousel">Ordenar Filmes</a></li>
                <li><a href="/adm/films">Gerenciar Filmes</a></li>
                <li><a href="/adm/sessions2">Gerenciar Sessões</a></li>
                <li><a href="/adm/ambassadors">Gerenciar Embaixadores</a></li>
                <li><a href="/adm/notification-templates">Gerenciar Fluxo de E-mail</a></li>
                <li role="separator" class="divider"></li>
                {{else}}
                {{/if}}
                <!-- <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li> -->
                <li><a class="logout-ambassador" href="#/">Sair</a></li>
              </ul>
            </li>
            {{else}}
            <!-- <button type="button" class="btn btn-default navbar-btn">CADASTRAR</button>
            <button type="button" class="btn btn-default navbar-btn">ENTRAR</button> -->

            <a class="btn btn-secondary navbar-btn btn-sm" href="/login">LOGIN</a>
            <a class="btn btn-default navbar-btn btn-sm" href="/register">CADASTRE-SE</a>
            {{/if}}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </div><!-- /.container-fluid -->
  </div>
  </nav>
</template>
