#home {
  background: url("/images/home-background.svg") center top no-repeat;
  background-size: 100% auto;
  background-position: 0% 0%;
  // height: 615px;
  // display: table;
  // position: relative;
  overflow: hidden;

  h2, h5 {
    text-transform: initial;
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    margin: .5em 0 1em 0;
  }
  h2 {
    font-weight: 500;
  }
  h5 {
    font-size: 1.3em;
    line-height: 1.6em;
  }
  // @media (max-width: 992px){
  //   height: 400px;
  // }

  // @media (max-width: 600px){
  //   height: auto;
  //   display: block;
  // }
  @media(max-width: 600px) {
    background: none;
  }
}


// .home-text-box{
// 	position: absolute;
// 	top: 0;
// 	display:table-cell;
// 	vertical-align: middle;
// // }
// .home-items{
//   text-align:center;
//   font-size: 1.5em;
//   font-family: Roboto;
//   // line-height: 1.5em;
//   margin: 0 5em 1.5em;
// }
// .home-text{
//   font-family: Roboto;
//   color: #fff;
//   // font-weight: 500;
//   text-align: center;
//   margin: 1em 0 .5em;
//   // @media (max-width: 992px){
//   font-size: 3em;
//     // top: 20%;
//   // }
//   // @media (max-width: 600px){
//   //   font-size:1.5em;
//   //   top: 10%;
//   // }
// }
.home-headers{

//   text-transform:uppercase;
  &.box{
    color: #fff;
    font-weight: 300;
    font-size: 1.8em;
    text-align: center;
    margin: 3em 0 1em 0;
    border: 1px solid #df4944;
    padding: .8em;
    clear: both;
  }
}

#home-carousel {
  .cta {
    text-align: center;
  }
}
// .center-btn{
//   text-align:center;
// }

