// Variables - https://github.com/twbs/bootstrap-sass/blob/v3.4.0/assets/stylesheets/bootstrap/_variables.scss
$font-family-base: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$text-color: #fff;
$link-color: $text-color;
$body-bg: #0e0e0e;
$headings-color: #df4944;
$btn-primary-bg: #df4944;
$navbar-height: 80px;
$dropdown-bg: #000;
$plyr-color-main: hsl(2, 71%, 57%);

@import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import './c3.scss';
@import '{}/node_modules/plyr/src/sass/plyr.scss';

@import '{}/node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '{}/node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '{}/node_modules/@fortawesome/fontawesome-free/scss/brands';

body {
  content: " ";
  background-image: url("/images/home-background.jpg");
  // background-color: #0e0e0e;
  // background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1500px;
  background-position: 50% 50%;
}

h2 {
  // $headings-color: #df4944;
  font-weight:300;
  font-size: 3em;
}
h2, h3 {
  text-transform: uppercase;
  margin: 0;
}

h4 {
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
  // font-weight: 300;
}

h5, h6 {
  // font-size: 16px;
  color: white;
  font-weight: 300;
}

p, label{
  color: #fff;
  // line-height: 20pt;
  font-weight: 300;
  // font-size: 1.1em;
  margin-bottom: 1em;
  text-shadow: 1px 1px 2px #000;
}

.alert.alert-warning {
  border-radius: 0;
  color: #8a6d3b;
  background-color: rgba(252, 248, 227, .1);
  border-color: rgba(250, 235, 204, 0);
}
.alert p {
  color: inherit;
  text-shadow: none;
  font-weight: bold;
}

.note-editor p {
  color: #333;
  text-shadow: none;
}

.select2-search__field,
.select2-results__option {
  color: #222;
}

strong {
  p {
    font-weight: 700;
  }
}

.modal p, .modal label,
.note-editable.panel-body p {
  color: inherit;
  text-shadow: none;
  margin: inherit;
  font-size: inherit;
}

.editor {
  border-color: #fff;
}

a, input, button, textarea {
  border-radius: 0 !important;
}
.fr-box.fr-basic .fr-wrapper {
  background: transparent;
  border-color: #fff;
}
.fr-box.fr-basic .fr-element {
  color: #fff;
}
.form-group{
  padding-left: 0px;
}

.image-description{
  text-align: center;
  margin-top: 1em;
}
.home-section-description{
  text-align: center;
  margin: 1em 0 4em 0;
  line-height: 2em;
}
.film-thumb {
  min-height: 360px;
}
.film-thumb-title{
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight:300;
  margin: 1em 0;
}
.ambassador-address p {
  min-height: 4.5em;
  margin-bottom: 1em;
}

#ambassador-registration .image-description{
  margin-bottom: 5em;
}
.section-description{
  // width:70%;
  margin-bottom: 2em;
}
.divider{
  margin: 0 0 2em 0;
  clear: both;
}
.float-none{
  float: none;
}
.triangle-bullets{
  list-style-image: url("/images/triangle-bullet.svg");
}

.profile-box{
  margin:2em 0 2em 0;
  img{
    width: 60%;
  }
}

#contact img{
  width:75%;

  @media (max-width: 650px) {
    display: none;
  }
}
#ambassador .full{
  width: 100%;
}
// section{
//   margin-bottom:5em;
// }
.adm-thumb{
  width:30%;
  display: list-item;
}
.sub-label{
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.5em;
}
.thumb-poster{
  width:100%;
}
.square_button{
  padding: 1em;
  border: 1px solid #fff;
  font-weight: 300;
}
#flashMessages {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  z-index: 3000;
  text-align: center;

  .close {
    margin-top: -5px;
  }
}

[data-required] label:after {
  content: ' *';
  color: #df4944;
}
[data-required] .radio label:after {
  content: '';
}

.nouislider {
  margin: 40px 20px;
}

.bootstrap-datetimepicker-widget {
  background-color: #333;
}
.bootstrap-datetimepicker-widget td span:hover,
.bootstrap-datetimepicker-widget thead tr:first-child th:hover,
.bootstrap-datetimepicker-widget td.day:hover, .bootstrap-datetimepicker-widget td.hour:hover, .bootstrap-datetimepicker-widget td.minute:hover, .bootstrap-datetimepicker-widget td.second:hover {
  background-color: #222;
}

#faq {
  h2, h3 {
    text-transform: initial;
  }
  h2 {
    margin: .5em 0;
  }
  h3 {
    margin: 2em 0 .5em;
  }
}
